[Unit]
Description=WebRTC recorder startup process
After=network.target

[Service]
Type=simple
Restart=always
EnvironmentFile=/etc/default/webitel-webrtc-rec.env
TimeoutStartSec=0
ExecStart=/usr/local/bin/webitel-webrtc-rec server

[Install]
WantedBy=default.target